<script>
    //POST
    $("#Btn").on('click', function () {
        let postid = $('#updateId').val()
        let url = $("#todoForm").attr("action");
        let todo = $('#todo').val();

        let fileInput = $('#file')[0];
        // console.log(fileInput);

        var file = fileInput.files[0];
        let csrftoken = $("input[name=csrfmiddlewaretoken]").val();

        var formData = new FormData();

        formData.append('file', file);
        formData.append('todo', todo);
        formData.append('csrfmiddlewaretoken', csrftoken);

        let output = ''
        console.log(fileInput)
        if ($('#file').val() === '') {
            alert("Please Choose file")
        } else if (todo === '') {
            alert("Please Enter the Name")
        } else {
            $.ajax({
                method: 'POST',
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.data == "save") {
                        let todos = response.todo;
                        todos.forEach(todo => {
                            output +=
                                `<tr>
                        <th scope="row">${todo.id}</th>
                        <td>${todo.name}</td>
                        <td>${todo.file}</td>
                        <td>
                            <a class="btn btn-outline-dark dBtn" did="${todo.id}">Delete</a>
                        </td>
                    </tr>`
                        });
                        $("tbody").html(output);
                        $("#todoForm")[0].reset();

                        todo.val('')
                        fileInput.val('')
                    }
                }
            })
        }
    })
</script>
<script>
    //DELETE
    $('tbody').on('click', '.dBtn', function () {
        let id = $(this).attr('did');
        let csrftoken = $("input[name=csrfmiddlewaretoken]").val();
        mythis = this;
        $.ajax({
            method: 'POST',
            url: 'delete',
            data: { did: id, csrfmiddlewaretoken: csrftoken },
            success: function (response) {
                $(mythis).closest("tr").fadeOut();
            }
        })
    })

</script>

<script>
    //UPDATE

    $('tbody').on('click', '.uBtn', function () {

        let id = $(this).attr('uid');
        let csrftoken = $("input[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: 'POST',
            url: 'update',
            dataType: 'json',
            data: { uid: id, csrfmiddlewaretoken: csrftoken },
            success: function (response) {
                $('#updateId').val(response.uid)
                $('#todo').val(response.name)
                $('#disc').val(response.disc)
            }
        })
    })

</script>