<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <title>ToDo</title>
</head>

<body>
    <div class="container">
        <div>
            <div class="py-5">
                <form  action="create" id="todoForm" name="myForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="pid" id="updateId">
                    <div class="mb-3 my-3">
                        <div class="d-flex align-items-center justify-content-center">
                            <div>
                                <input type="text" class="form-control" name="todo" id="todo" placeholder="Enter Name" required>
                            </div>
                            <div>
                                <input style="width: 107px;" type="file" class="form-control" name="todo" id="file"
                                    placeholder="What do you want to do?" required>
                            </div>
                            <div>
                                <button type="button" id="Btn" class="btn btn-dark">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped my-2 caption-top">.
                        <caption class="fs-4 text-black fe-semibold">File Uploads</caption>
                        <thead>
                            <tr>
                                <th scope="col">Sr No</th>
                                <th scope="col">Name</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in allTodo %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{todo.name}}</td>
                                <td>{{todo.file}}</td>
                                <td>
                                    <a class="btn btn-outline-dark dBtn" did="{{todo.id}}">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        let edit = document.getElementById("update");
        let submit = document.getElementById("Btn");
        let verified = document.getElementById("is_verified")
        edit.addEventListener("keypress", MyFunction)
        function MyFunction() {
            if (edit.value.length >= 0) {
            verified.innerHTML = `
                    <option value="None">Unkown</option>
                    <option value="True" selected>Yes</option>
                    <option value="False">No</option>`
            }
            // if(edit.value.length == ''){
            //     verified.innerHTML = '<option value="True" selected>No</option>'
            // }
        }
        
        // function MyFunction(obj) {
            
        //     verified.innerHTML = '<option value="True" selected>Yes</option>'
            
        // }
        
        // function MyFunction1(obj) {
            
        //     verified.innerHTML = '<option value="False" selected>No</option>'
            
        // }
        
    </script>
    {% include 'ajax.html' %}
</body>

</html>